.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20px;
  float: left;
}

.drag-handle {
  top : 50% !important;
  right: 3% !important;
  -ms-transform: translate(3%, -50%);
  transform    : translate(3%, -50%);
  padding: 0.75rem !important;
  cursor: ns-resize !important;
}

.App-intro {
  font-size: large;
}

.RecipeList--left {
  display: inline;
  float: left;
}

.RecipeList--center {
  top : 50% !important;
  right: 3% !important;
  -ms-transform: translate(3%, -50%);
  transform    : translate(3%, -50%);
  padding: 0.75rem !important;
}

.RecipeList--right {
  display: inline;
  float: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spacing{
  margin-top:30px;
}
