body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.float-left {
  position: absolute;
  left: 10px;
}

.float-right {
  left: 0px;
}

.user-img {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.top-right {
  position: absolute;
  top: 1%;
  right: 6%;
}

.margin-bottom {
  margin-bottom: 10px;
}
